.container{
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
}

.btns{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.select{
  border-radius: 10px !important;
}

.btns a, .btns2 a{
  padding: 7px 15px;
  border: 1px solid #00b35f;
  border-radius: 10px;
  font-size: .9rem;
  transition: all ease-in-out .3s;
}

.btns a:nth-child(1),
.btns2 a:nth-child(1){
  border: 1px solid #00b35f;
}

.btns a:nth-child(2),
.btns2 a:nth-child(2){
  border: 1px solid #ff0000;
}

.btns a:nth-child(1):hover,
.btns a:nth-child(1):focus,
.btns2 a:nth-child(1):hover,
.btns2 a:nth-child(1):focus{
  background-color: rgba(9, 255, 0, 0.03);
}

.btns a:nth-child(2):hover,
.btns a:nth-child(2):focus,
.btns2 a:nth-child(2):hover,
.btns2 a:nth-child(2):focus{
  background-color: rgba(255, 0, 0, 0.03);
}

.btns2 a{
  padding: 5px 10px;
  font-size: .7rem;
  border-radius: 7px;
}

.balCard{
  width: 100%;
  min-height: 200px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-shrink: 0;
}

.card{
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out .3s;
  border-top: 1px solid #000000;
}

.card div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2, .card p{
  font-size: .7rem;
  font-weight: 500;
}

.card p{
  color: #e90000;
}

.card h1{
  font-size: 1.7rem;
  font-weight: 400;
  padding: 10px 0;
}

@media screen and (max-width: 1150px){
.balCard{
  flex-shrink: 0;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 600px){
.container{
  padding: 0 13px;
}

.btns{
  width: 100%;
  flex-shrink: 0;
  gap: 5px;
  padding: 10px 0;
}

.btns2 a{
  padding: 7px 13px;
  font-size: .9rem;
  border-radius: 8px;
}

.selectWrapper{
  width: 40%;
}

.balCard{
  padding: 20px 0;
}
  
.card{
  width: 100%;
  box-shadow: none;
}

.card p, .card h2{
  font-size: .9rem;
}

}

@media screen and (max-width: 345px){
.btns{
  flex-wrap: wrap;
  gap: 10px;
}

.selectWrapper{
  width: 60%;
}
  
}