.container{
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f1f1f1;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1em;
}

.btns{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.btns a:nth-child(1){
  padding: 7px 15px;
  border: 1px solid #00b35f;
  border-radius: 10px;
  font-size: .9rem;
  transition: all ease-in-out .3s;
}

.btns a:nth-child(2){
  padding: 7px 15px;
  border: 1px solid #ff0000;
  border-radius: 10px;
  font-size: .9rem;
  transition: all ease-in-out .3s;
}

.btns a:nth-child(1):hover,
.btns a:nth-child(1):focus{
  background-color: rgba(9, 255, 0, 0.03);
}

.btns a:nth-child(2):hover,
.btns a:nth-child(2):focus{
  background-color: rgba(255, 0, 0, 0.03);
}

.balCard{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  overflow-x: scroll;
}

.balCard::-webkit-scrollbar {
  width: 1rem;
  background-color: #f1f1f1;
  height: 5px;
  display: none;
}

.balCard::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
}

.card{
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background: rgb(249, 249, 249);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 20px;
  gap: 15px;
}

.card:nth-child(1){
  border-left: 3px solid #00b35f;
}

.card:nth-child(2){
  border-left: 3px solid #FFCB7D;
}

.card:nth-child(3){
  border-left: 3px solid #BEFF7D;
}

.card:nth-child(4){
  border-left: 3px solid #a600cf;
}

.card:nth-child(5){
  border-left: 3px solid #7b4604;
}

.card:nth-child(6){
  border-left: 3px solid #0033ff;
}

.cardheader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardtitle{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 7px;
}

.cardtitle h3{
  font-size: .9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.isactive{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(310deg, #7b4604 0%, #282454 100%);
  border-radius: 10px;
}

.circle{
  font-size: 1.5rem;
  color: white;
}

.cardbody{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardbody h1{
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.chart{
  font-size: 2rem;
}

@media screen and (max-width: 600px){
.container{
  min-height: 500px;
  padding: 0 10px;
}

.balCard{
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  gap: 10px;
}

}